.input-simples{
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 1px 1px 2px rgb(55 55 55 / 20%);
}

#container-atendimentos{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    position: relative;
}

#container-atendimentos:empty:after{
    content: 'Não existe nenhum atendimento.';
    padding: 20px;
    background: #DDD;
    border-radius: 3px;
    font-size: .8rem;
}

.link-atendimento{
    display: block;
    max-width: 400px;
    width: 100%;
    border: 1px solid #DDD;
    border-radius: 3px;
    padding: 10px;
    text-decoration: none;
    color: #353535;
}

.link-atendimento:hover{
    background: #EEF;
}

.link-atendimento h2 {
    color: var(--tema-site-suave);
    margin: 0 0 10px;
}

.link-atendimento p{
    margin: 5px 0;
    text-align: end;
}

h2.horarios-atendimento{
    margin: 0;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
}

.horarios-atendimento span{
    font-weight: 800;
}

#container-chat{
    border: 1px solid #DDD;
    border-radius: 3px;
    margin-bottom: 0px;
    margin-top: 20px;
    flex: 1;
    padding: 0 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#finalizar-atendimento{
    border: 1px solid #C44;
    color: #C44;
    margin-top: 15px;
    box-shadow: none;
}
#finalizar-atendimento:hover{
    background: #FDD;
}

#atendimento-iniciado{
    font-size: .8rem;
    color: #777;
    text-align: center;
}

#mensagens:empty:after{
    content: 'Não há mensagens para serem exibidas aqui.';
    padding: 20px;
    background: #DDD;
    border-radius: 3px;
    font-size: .8rem;
    display: block;
    margin: 0 auto 20px;
    width: 80%;
    text-align: center;
}

#carregar-mensagens{
    margin: 20px auto 30px;
}

#mensagens{
    margin-top: auto;
}

.mensagem-chat{
    display: block;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    font-size: .9rem;
    font-weight: 500;
    margin: 5px 0;
    color: #333;
}

.mensagem-chat.mensagem-recebida{
    background: #CCCCCC;
}
.mensagem-chat.mensagem-recebida.mensagem-recente{
    animation: destacar-mensagem 1s ease-in-out forwards;
}

@keyframes destacar-mensagem {
    0%{
        background: #CCCCCC;
    }
    20%{
        background: #AFC;
    }
    80%{
        background: #AFC;
    }
    100%{
        background: #CCCCCC;
    }
}

.mensagem-chat.mensagem-propria{
    margin-left: auto;
    background: #CCCCFF;
}

.mensagem-chat p:first-child{
    margin: 0;
    text-align: justify;
}
.mensagem-chat p:last-child{
    font-size: .7rem;
    text-align: end;
    margin: 15px 0 0;
}

#simulador-chat{
    width: 100%;
    padding: 20px 0;
}

#simulador-chat div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#simulador-chat input{
    flex: 1;
}

#simulador-chat button{
    width: fit-content;
    font-size: 1rem;
    background: var(--tema-site-suave);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#simulador-chat button:hover{
    background: var(--tema-site);
}

#alternar-visao-chat{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tema-site-suave);
    font-weight: 600;
    cursor: pointer;
    margin: 0 0 20px;
}
#alternar-visao-chat svg{
    width: 20px;
    margin-left: 10px;
    fill: var(--tema-site-suave);
}